pipeline/pl_ValidateStructure1.json
{
	"name": "pl_ValidateStructure1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Input FIle",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsproductcsv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Structures Match",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Input FIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata Input FIle').output.structure,\ncreateArray(\n     json('{\n            \"name\": \"ProductKey\",\n            \"type\": \"String\"\n        }'),\n        json('{\n            \"name\": \"ProductAltKey\",\n            \"type\": \"String\"\n        }'),\n        json('{\n            \"name\": \"ProductName\",\n            \"type\": \"String\"\n        }'),\n        json('{\n            \"name\": \"ProductActualCost\",\n            \"type\": \"String\"\n        }'),\n        json('{\n            \"name\": \"ProductSalesCost\",\n            \"type\": \"String\"\n        }'),\njson('{\n            \"name\": \"Column1\",\n            \"type\": \"String\"\n        }')\n        \n))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsproductcsv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsouttest",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}